body {
  background: #fff;
}
ul {
  list-style: none;
}
.page,
.page-group {
  background: #fff;
}
/********公共头部begin********/
.header-title {
  font-size: 0.6rem;
  font-weight: bold;
}
.bar .header-right {
  font-size: 0.6rem;
  color: #6f7478;
}
.bar .header-left {
  font-size: 0.8rem;
  color: #3d4145;
  font-weight: bold;
}
/********公共头部end********/
/********商城begin********/
.integral-show {
  width: 100%;
  height: 6rem;
  background: #fd996b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 0.6rem;
}
.integral-show div {
  font-size: 0.6rem;
}
.integral-show div strong {
  display: block;
  font-size: 1.2rem;
}
.buttons-row,
.buttons-tab {
  justify-content: space-around;
}
.buttons-tab .button {
  font-size: 0.6rem;
  width: auto;
}
.buttons-tab .button.active {
  color: #e12519;
  border-color: #e12519;
  z-index: 100;
}
.content-block {
  margin: 0;
  padding: 0;
}
.goods-list {
  padding: 0 0.6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.goods-list li {
  width: 6.56rem;
  height: 7.16rem;
  border: 0.04rem solid #eeeeee;
  margin-bottom: 0.6rem;
  overflow: hidden;
}
.goods-list li img {
  display: block;
  width: 100%;
  height: 4.8rem;
  margin-bottom: 0.1rem;
  overflow: hidden;
}
.goods-list li div {
  padding-left: 0.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.56rem;
  color: #3d4145;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.goods-list li p {
  margin: 0;
  padding-left: 0.2rem;
  height: 1.06rem;
  line-height: 1.06rem;
  overflow: hidden;
}
.goods-list li p span {
  float: left;
  font-size: 0.48rem;
  color: #6f7478;
}
.goods-list li p span i {
  font-style: normal;
  text-decoration: line-through;
}
.goods-list li p span.current-price {
  font-size: 0.56rem;
  color: #e12519;
  margin-right: 0.2rem;
}
/********商城end********/
/********学习攻略end********/
.learning-strategy .integral-show {
  position: relative;
}
.learning-strategy .description {
  position: absolute;
  right: 0;
  top: 1rem;
  line-height: 1rem;
  font-size: 0.6rem;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
  border-radius: 2rem 0 0 2rem;
  color: #fff;
  background: #fd9840;
}
.learning-strategy .exchange {
  position: absolute;
  left: auto;
  right: auto;
  bottom: -1.1rem;
  height: 2rem;
  width: 86%;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  background: #fff;
}
.learning-strategy .exchange .icon-gift {
  font-size: 1.2rem;
}
.learning-strategy .exchange p {
  margin: 0 10px;
}
.learning-strategy .rule {
  margin-top: 1.6rem;
  background: #fff;
}
.learning-strategy .rule-header {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 0.8rem;
  padding: 0.4rem;
  justify-content: space-between;
}
.learning-strategy .rule-header p,
.learning-strategy .rule-header h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}
.learning-strategy .rule-header span {
  margin-left: 0.2rem;
  color: #e12519;
}
.learning-strategy .integral-list {
  padding: 0;
  margin: 0;
}
.learning-strategy .integral-list > li {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 0.4rem;
  justify-content: space-between;
}
.learning-strategy .integral-list .integral-ratio {
  display: flex;
  align-items: center;
}
.learning-strategy .integral-left > h6 {
  margin: 0;
  font-size: 0.7rem;
  font-weight: normal;
  color: #3d4145;
}
.learning-strategy .integral-left > h6 span {
  color: #e12519;
}
.learning-strategy .integral-left > p {
  margin: 0.2rem;
  font-size: 0.6rem;
  color: #6f7478;
}
.learning-strategy .integral-ratio > p {
  margin: 0 0 0 0.2rem;
  font-size: 0.6rem;
  color: #6f7478;
}
.learning-strategy .progress {
  position: relative;
  width: 3rem;
  height: 0.4rem;
  background: #6f7478;
  border-radius: 0.4rem;
  overflow: hidden;
}
.learning-strategy .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #e12519;
  border-radius: inherit;
}
.learning-strategy .button {
  font-size: 0.6rem;
}
.l-get-rule h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
.l-get-rule .rule-details {
  font-size: 0.6rem;
  text-align: left;
}
/********学习攻略end********/
/********积分明细start********/
.integral-details {
  width: 100%;
}
.integral-details .integral-list {
  width: 100%;
}
.integral-details .integral-list ul {
  margin: 0;
  display: flex;
  padding: 0;
  overflow: auto;
}
.integral-details .integral-list ul li {
  width: 2rem;
  height: 7rem;
  display: flex;
  font-size: 0.6rem;
  flex: 0 0 auto;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
}
.integral-details .integral-list ul li h6 {
  margin: 0;
  height: 1rem;
  line-height: 1rem;
  font-size: inherit;
  font-weight: normal;
}
.integral-details .integral-list ul li p {
  flex: 1;
  margin: 3rem 0 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.integral-details .integral-list ul li p span {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
  background: #e12519;
  border-radius: 10px 10px 0 0;
}
.integral-details .integral-list ul li p span i {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  font-style: normal;
  transform: translate(-50%, -100%);
  text-align: center;
}
.integral-details .integral-list ul .active {
  color: #e12519;
  font-size: 0.7rem;
  opacity: 1;
  background: rgba(200, 0, 0, 0.1);
}
.integral-details .active-info {
  margin: 1rem 0.6rem 0.4rem;
  display: flex;
  justify-content: space-between;
}
.integral-details .active-info p {
  margin: 0;
  font-size: 0.7rem;
  color: #e12519;
}
.integral-details .active-info p b {
  font-size: 0.8rem;
}
.integral-details .active-info span {
  font-size: 0.7rem;
}
.integral-details .integral-time {
  margin: 0 0.6rem;
}
.integral-details .integral-time ul {
  padding: 0;
  margin: 0;
}
.integral-details .integral-time li {
  display: flex;
  justify-content: space-between;
}
.integral-details .integral-time li p {
  margin: 0;
  font-size: 0.6rem;
  color: #6f7478;
}
.integral-details .integral-time li span {
  font-size: 0.8rem;
}
.integral-details .integral-time li i {
  font-style: normal;
  font-size: 0.6rem;
  color: #e12519;
}
.integral-details .integral-time li i b {
  font-size: 0.9rem;
}
.integral-details .integral-time li + li {
  margin-top: 0.6rem;
}
/********积分明细end********/
/********个人收藏start********/
.collection-tab .button {
  top: 0;
  height: 100%;
}
.collection .list-container li {
  padding: 0;
  border-bottom: 1px solid #666;
}
.collection .list-container li:first-child {
  border-top: 1px solid #666;
}
.collection .list-container a.text-link {
  padding: 0.2rem 0.6rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}
.collection .list-container .item-left {
  flex: 0 1 auto;
  overflow: hidden;
}
.collection .list-container h6 {
  margin: 0;
  overflow: hidden;
  width: 100%;
  font-size: 0.7rem;
  font-weight: normal;
  color: #333;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.collection .list-container .item-title {
  font-size: 0.6rem;
  color: #6f7478;
}
.collection .list-container .icon-star {
  margin: 0 0.2rem 0 0.4rem;
  color: #6f7478;
  width: 1rem;
  display: block;
}
.collection .list-container .icon-star.active {
  color: #e12519;
}
.collection .list-container .star-red {
  color: #e12519;
}
.collection .list-container .icon-right {
  color: #6f7478;
  width: 1rem;
  display: block;
}
.collection-content {
  position: absolute;
  top: 2.2rem;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
/********个人收藏end********/
/********积分排名end********/
.integral-ranking .basic-info {
  position: relative;
  padding: 0 0.6rem;
  z-index: 3;
  background: #fff;
  border-bottom: 12px solid #ccc;
}
.integral-ranking .basic-info p,
.integral-ranking .basic-info ul {
  margin: 0;
}
.integral-ranking .user-basic {
  display: flex;
  align-content: center;
  font-size: 0.6rem;
  padding: 0.4rem 0;
}
.integral-ranking .user-img {
  position: relative;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 100%;
}
.integral-ranking .user-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
.integral-ranking .user-info {
  margin: 0 0.4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.integral-ranking .integral {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
  color: #e12519;
}
.integral-ranking .user-enterprise {
  display: flex;
  font-size: 0.6rem;
  padding: 0.4rem 0;
  text-align: center;
  border-top: 1px solid #ccc;
}
.integral-ranking .user-enterprise li {
  flex: 1;
}
.integral-ranking .user-enterprise li p {
  font-weight: bold;
}
.integral-ranking .user-enterprise li span {
  color: #6f7478;
}
.integral-ranking .user-enterprise li + li {
  border-left: 1px solid #ccc;
}
.integral-ranking .list-container {
  padding-top: 0.2rem;
}
.integral-ranking .ranking-list .item-content {
  display: flex;
  padding: 0 0.6rem;
}
.integral-ranking .ranking-list .item-content + .item-content {
  margin-top: 0.2rem;
}
.integral-ranking .ranking-list .item-content p {
  font-size: 0.6rem;
}
.integral-ranking .ranking-list .item-content p:nth-of-type(1) {
  flex: 1;
  padding: 0 0.4rem;
}
.integral-ranking .ranking-list .item-content p:nth-of-type(2) {
  width: 2rem;
}
/********积分排名end********/
/********知识库end********/
.knowledge .serach-header,
.professional-learning .serach-header {
  display: flex;
  padding: 0.2rem 0.4rem;
  position: relative;
  z-index: 3;
  border-bottom: 12px solid #ccc;
  background: #fff;
}
.knowledge .searchbar,
.professional-learning .searchbar {
  flex: 1;
}
.knowledge .search-btn,
.professional-learning .search-btn {
  display: block;
  padding: 0 0.72rem 0 0.4rem;
  font-size: 0.56rem;
  color: #333333;
  outline: none;
  background: url(../images/icon/icon_screen.png) no-repeat right center;
  background-size: 0.52rem auto;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
  border: none 0;
}
.knowledge .knowledge-searchbar,
.professional-learning .knowledge-searchbar {
  height: auto;
  padding: 0;
}
.knowledge .knowledge-searchbar .search-input input,
.professional-learning .knowledge-searchbar .search-input input,
.knowledge .knowledge-searchbar .button,
.professional-learning .knowledge-searchbar .button {
  height: 1.2rem;
  line-height: 1.2rem;
}
.knowledge .item-content {
  padding: 0;
}
.knowledge .item-content > a {
  width: 100%;
  padding: 0.2rem 0.4rem;
  display: flex;
  align-items: center;
  color: #333;
}
.knowledge .item-content > a .file-img {
  margin-right: 0.6rem;
  position: relative;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.knowledge .item-content > a .file-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
.knowledge .item-content > a .file-info {
  flex: 1;
}
.knowledge .item-content > a .file-name {
  font-size: 0.7rem;
  margin: 0;
}
.knowledge .item-content > a i {
  font-style: normal;
  font-size: 0.4rem;
  display: inline-block;
  vertical-align: top;
}
.knowledge .item-content > a .icon-fabulous {
  margin-left: 0.6rem;
  font-size: 0.75rem;
}
.knowledge .star-red {
  color: #e12519;
}
/********知识库end********/
/****************弹框左移begin*****************/
.side-page {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: .3s transform ease;
  transform: translate(0, 0);
  z-index: 10000;
}
.side-page .side-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.side-page .side-cont {
  position: relative;
  z-index: 3;
  float: right;
  height: 100%;
  width: 76%;
  background: #fff;
  overflow: auto;
  font-size: 0.6rem;
}
.side-page .side-cont .addSubjectCondition {
  padding: 0;
  margin: 0;
}
.side-page .side-cont .addSubjectCondition li {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border: none;
}
.side-page .side-cont .addSubjectCondition li:last-child {
  padding-bottom: 0;
}
.side-page .side-cont .addSubjectCondition li .subject {
  margin: 0;
  display: block;
}
.side-page .side-cont .addSubjectCondition li .subject .icon-down {
  margin-top: 0;
  vertical-align: top;
}
.side-page .side-cont .addSubjectCondition li .subject dt {
  margin: 0 0.4rem;
  width: auto;
}
.side-page .side-cont .addSubjectCondition li .subject dd {
  max-width: 100%;
  margin: 0;
}
.side-page .side-cont .addSubjectCondition li .subject div {
  justify-content: initial;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.side-page .side-cont .addSubjectCondition li .subject span {
  margin: 0 0.16rem 0.4rem;
  display: block !important;
  padding: 0.32rem 0.64rem;
  background: #f5f5f9;
}
.side-page .side-cont .addSubjectCondition li .subject span.active {
  background: #1eb1fc;
  color: #fff;
}
.side-page .side-cont .practice-group {
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  width: 100%;
  padding: 0.56rem 0.48rem;
  background: #fff;
  border-radius: 0.16rem;
  margin-bottom: 0.48rem;
}
.side-page .side-cont .practice-group .form-group {
  flex: 1;
  max-width: 48%;
}
.side-page .side-cont .issue-dialog-submit {
  display: flex;
  padding: 0 0.4rem;
}
.side-page .side-cont .issue-dialog-submit button {
  flex: 1;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 0.64rem;
  outline: none;
  border-radius: 8px;
  -webkit-appearance: none;
  border: none 0;
}
.side-page .side-cont .issue-dialog-submit button + button {
  margin-left: 0.4rem;
}
.side-page .side-cont .issue-dialog-submit .reset {
  color: #00B0FF;
  border: 1px solid #00B0FF;
  background: #fff;
}
.side-page .side-cont .issue-dialog-submit .sure {
  color: #fff;
  background: #00B0FF;
}
.side-left-move {
  transform: translate(-100%, 0);
}
.practice-group input {
  display: block;
  flex: 1;
  text-align: center;
  color: #909090;
  background: #F0F0F0;
  font-size: 0.56rem;
  width: 50%;
  margin: 0 0.5rem;
  height: 1.2rem;
  line-height: 1.2rem;
  -webkit-appearance: none;
  border-radius: 0;
  border: none 0;
}
/****************弹框左移end*****************/
/****************题库添加begin*****************/
.addSubjectCondition {
  width: 100%;
  background: #fff;
  margin-bottom: 0.48rem;
}
.addSubjectCondition li {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 0.48rem;
  padding-left: 0.8rem;
  padding-right: 0.48rem;
}
.addSubjectCondition li .subject {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 0;
}
.addSubjectCondition li .subject dt {
  width: 2rem;
  font-size: 0.64rem;
  color: #333;
  line-height: 1.2rem;
  font-weight: normal;
}
.addSubjectCondition li .subject dt.keytitle {
  width: 2.8rem;
  white-space: nowrap;
}
.addSubjectCondition li .subject dd {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 0.56rem;
  color: #333;
  width: 11.72rem;
}
.addSubjectCondition li .subject dd div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.addSubjectCondition li .subject dd div.flex-start {
  justify-content: flex-start;
}
.addSubjectCondition li .subject dd div.js-toggle {
  height: 1.8rem;
  overflow: hidden;
}
.addSubjectCondition li .subject dd div span {
  padding: 0.32rem 0.64rem;
  background: #f5f5f9;
  margin-bottom: 0.4rem;
}
/* .addSubjectCondition li .subject dd div span.padding-18 {
    padding: 0 0.72rem;
    margin-right: 0.32rem;
  } */
.addSubjectCondition li .subject dd div input {
  flex: 1;
  margin-right: 0.48rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #f5f5f9;
  padding-left: 0.48rem;
}
.addSubjectCondition li .subject dd div input::-webkit-input-placeholder {
  color: #333;
}
.addSubjectCondition li .subject dd div button {
  width: 2.56rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  background: #1eb1fc;
  font-size: 0.64rem;
  color: #fff;
}
.addSubjectCondition li .subject .icon-down {
  display: inline-block;
  width: 0.6rem;
  height: 1.2rem;
  line-height: 1.2rem;
  margin-left: 0.32rem;
  margin-top: 0.32rem;
  transform: rotate(180deg);
}
.addSubjectCondition li:last-child {
  border-bottom: none;
  padding-bottom: 0.4rem;
}
.addSubjectSelect {
  background: #fff;
}
.addSubjectSelect .subjecthead {
  display: flex;
  justify-content: flex-end;
  padding: 0.48rem 0.6rem 0.6rem;
  border-bottom: 1px solid #d5dde1;
}
.addSubjectSelect .subjecthead span {
  width: 2.56rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  background: #1eb1fc;
  font-size: 0.64rem;
  color: #fff;
  margin-right: 0.48rem;
}
.addSubjectSelect .select-item li {
  -padding: 0.48rem 0.6rem;
  border-bottom: 1px solid #d8d8d8;
  font-size: 0.56rem;
  color: #333;
}
.addSubjectSelect .select-item li label {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.addSubjectSelect .select-item li label input[type=checkbox] {
  position: absolute;
  width: 0.96rem;
  height: 0.96rem;
  border: 1px solid #9c9c9c;
  border-radius: 50%;
  margin-top: 0.4rem;
  margin-left: 0.6rem;
}
.addSubjectSelect .select-item li label input[type=checkbox]:after {
  position: absolute;
  width: 0.96rem;
  height: 0.96rem;
  top: 0;
  border: 1px solid #9c9c9c;
  content: " ";
  border-radius: 50%;
  display: inline-block;
  visibility: visible;
}
.addSubjectSelect .select-item li label input[type=checkbox]:checked:after {
  width: 0.96rem;
  height: 0.96rem;
  background: #1eb0fc;
  border: #fff;
  border-radius: 50%;
  display: inline-block;
}
.addSubjectSelect .select-item li label input[type=checkbox]:checked + span {
  background: #cdeffe;
}
.addSubjectSelect .select-item li label span {
  flex: 1;
  padding: 0.48rem 0.6rem;
  padding-left: 2rem;
}
/****************题库添加end*****************/
/****************专业学习end*****************/
.professional-learning .item-content {
  padding: 0;
  flex-direction: column;
}
.professional-learning .item-content + .item-content {
  margin-top: 0.6rem;
  border-top: 1px solid #ccc;
}
.professional-learning .item-content h6 {
  margin: 0;
  font-size: 0.6rem;
  font-weight: normal;
  width: 100%;
  padding: 0.2rem 0.4rem;
  border-bottom: 1px solid #ccc;
}
.professional-learning .item-content > a {
  width: 100%;
  padding: 0.2rem 0.4rem;
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  color: #333;
}
.professional-learning .item-content > a span {
  margin-right: 0.4rem;
  color: #00B0FF;
}
.professional-learning .item-content > a p {
  margin: 0;
  padding-left: 0.4rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
  color: #9c9c9c;
}
.professional-learning .item-content > a:nth-last-of-type(1) {
  border-bottom: 1px solid #ccc;
}
.professional-learning .item-content > a:nth-last-of-type(1) p {
  border-bottom: none;
}
/****************专业学习end*****************/
/****************错题集start*****************/
.mistakes .item-mistakes p {
  margin: 0;
  font-size: 0.6rem;
  padding: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/****************错题集end*****************/
